{{- if and .Values.primaryTenant (not .Values.disableAllApplications) .Values.applications.nvidia_gpu.enabled }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: nvidia-gpu
  namespace: kube-system
spec:
  chart: nvidia-device-plugin
  repo: https://nvidia.github.io/k8s-device-plugin
  version: 0.18.2
  targetNamespace: kube-system
  valuesContent: |-
    nfd:
      enabled: false

    runtimeClassName: nvidia
    
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: feature.node.kubernetes.io/pci-0300_10de.present
              operator: In
              values: ["true"]
    
    config:
      default: default
      map:
        default: |-
          version: v1
          flags:
            deviceDiscoveryStrategy: nvml
    
    resources:
      requests:
        memory: 64Mi
        cpu: 250m
      limits:
        memory: 128Mi
{{- end }}
